<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header><span>{{ this.route.snapshot.params.id !== 'new' ? 'Edit' : 'Create' }} a user</span>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="this.form" (ngSubmit)="onFormSubmit()">

          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input nbInput fullWidth
                     [status]="this.form.get('name').errors && this.form.get('name').touched ? 'danger' : ''"
                     formControlName="name" class="form-control" id="name" type="text" aria-describedby="nameHelp"
                     placeholder="Enter the name">
              <small [hidden]="!(this.form.get('name').errors && this.form.get('name').touched)"
                     class="text-danger">Enter a valid name please.</small>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input nbInput fullWidth
                     [status]="this.form.get('email').errors && this.form.get('email').touched ? 'danger' : ''"
                     formControlName="email" class="form-control" id="email" type="email"
                     placeholder="example@domain.com">
              <small [hidden]="!(this.form.get('email').errors && this.form.get('email').touched)" class="text-danger">Enter
                a valid email please.</small>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input nbInput fullWidth
                     [status]="this.form.get('password').errors && this.form.get('password').touched ? 'danger' : ''"
                     formControlName="password" class="form-control" id="password" type="password" aria-describedby="nameHelp">
              <small [hidden]="!(this.form.get('password').errors && this.form.get('password').touched)"
                     class="text-danger">Enter a valid password please.</small>
              <small *ngIf="this.route.snapshot.params.id !== 'new'" id="passwordHelp" class="form-text text-muted">Leave blank to not modify the password.</small>
            </div>
          </div>

          <button type="submit" fullWidth nbButton [disabled]="!(this.form.valid && this.form.dirty)">Save</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
