<div class="row">
  <div class="col-xl-12">
    <nb-card>
      <nb-card-body>
        <form class="form-inlin">
            <nb-select placeholder="Search by..." (selectedChange)="updateFilter($event)" size="medium">
              <nb-option [value]="null">Clear filter</nb-option>
              <nb-option *ngFor="let column of this.columns" [value]="column.prop">{{ column.display }}</nb-option>
            </nb-select>
            <input
              #searchQuery
              nbInput
              type="text"
              style="margin-left: 10px"
              placeholder="your criteria..."
              (keyup)="filterResults($event)"
              [disabled]="this.currentFilter === null"
            />
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Clients List</nb-card-header>
      <nb-card-body>
        <ngx-datatable
          #table
          class="material"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="20"
          rowHeight="auto"
          reorderable="true"
        >
        </ngx-datatable>
      </nb-card-body>
    </nb-card>
  </div>
</div>
