<div class="row">
  <div class="col-lg-5">
    <nb-card accent="primary">
      <nb-card-header>Viewing the profile of user #{{ client.id }}<button class="float-right" size="" nbButton><nb-icon [routerLink]="['/app/clients', client.id]" icon="edit-2-outline"></nb-icon></button></nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-4"><b>First Name</b></div>
          <div class="col-lg-8">{{ client.first_name }}</div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>Last Name</b></div>
          <div class="col-lg-8">{{ client.last_name }}</div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>DNI</b></div>
          <div class="col-lg-8">{{ client.dni }}</div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>Email Address</b></div>
          <div class="col-lg-8"><a href="mailto:{{ client.email }}"> {{ client.email }}</a></div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>Gender</b></div>
          <div class="col-lg-8">{{ client.gender }}</div>
        </div>
        <div class="row" *ngIf="client.comments && client.comments != ''">
          <div class="col-lg-4"><b>Additional data</b></div>
          <div class="col-lg-8">{{ client.comments }}</div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card accent="warning">
      <nb-card-header>Last 10 accesses</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let access of this.lastAccesses">
          <div class="row">
            <div class="col-lg-2">#{{ access.id }}</div>
            <div class="col-lg-4">{{ access.plate ? access.plate : access.vehicle.plate }}</div>
            <div class="col-lg-6">{{ this.getLocalDate(access.createdAt) }}</div>
          </div>
        </nb-list-item>
        <nb-list-item *ngIf="this.lastAccesses.length == 0">There are no records for this client.</nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card accent="success" *ngIf="this.client.vehicle && this.client.vehicle.length > 0 && this.accessPerVehicle.length > 0; else NoVehicles">
      <nb-card-header>Vehicle usage</nb-card-header>
      <ngx-charts-pie-chart scheme="picnic" [results]="this.accessPerVehicle" labels="true"></ngx-charts-pie-chart>
    </nb-card>
    <ng-template #NoVehicles>
      <nb-card accent="danger">
        <nb-card-header>Ooops! Not enough data</nb-card-header>
        <nb-card-body>It looks like the client has no associated vehicles, never used them or they were recently added to the system.
          <br><br>That's why we cannot show any stats related to this client. Try again later.</nb-card-body>
      </nb-card>
    </ng-template>
    <nb-card accent="success" *ngIf="this.client.vehicle && this.client.vehicle.length > 0 && this.accessPerVehicle.length > 0">
      <nb-card-header>Time spent on the last 7 visits</nb-card-header>
      <ngx-charts-bar-vertical
        scheme="picnic"
        [results]="this.lastTenVisitsTimeSpent"
        xAxisLabel="Day"
        yAxisLabel="Minutes spent"
        showXAxisLabel="true"
        showYAxisLabel="true"
        xAxis="true"
        yAxis="true"
      ></ngx-charts-bar-vertical>
    </nb-card>
  </div>
  <div class="col-lg-3">
    <nb-card accent="info">
      <nb-card-header>Vehicles <button class="float-right" size="" nbButton><nb-icon icon="plus-outline"></nb-icon></button></nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let vehicle of client.vehicle">
          {{ vehicle.plate }}
          <button nbButton size="" ghost class="float-right"><nb-icon (click)="this.deleteVehicle(vehicle.id)" icon="trash-2-outline"></nb-icon></button>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
