<div class="row">
  <div class="col-lg-5">
    <nb-card accent="primary">
      <nb-card-header>Viewing the profile of user #{{ client.id }}<button class="float-right" size="" nbButton><nb-icon icon="edit-2-outline"></nb-icon></button></nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-4"><b>First Name</b></div>
          <div class="col-lg-8">{{ client.first_name }}</div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>Last Name</b></div>
          <div class="col-lg-8">{{ client.last_name }}</div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>DNI</b></div>
          <div class="col-lg-8">{{ client.dni }}</div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>Email Address</b></div>
          <div class="col-lg-8"><a href="mailto:{{ client.email }}"> {{ client.email }}</a></div>
        </div>
        <div class="row">
          <div class="col-lg-4"><b>Gender</b></div>
          <div class="col-lg-8">{{ client.gender }}</div>
        </div>
        <div class="row" *ngIf="client.comments && client.comments != ''">
          <div class="col-lg-4"><b>Additional data</b></div>
          <div class="col-lg-8">{{ client.comments }}</div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card accent="warning">
      <nb-card-header>Last 10 accesses</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let access of this.lastAccesses">
          <div class="row">
            <div class="col-lg-2">#{{ access.id }}</div>
            <div class="col-lg-4">{{ access.plate ? access.plate : access.vehicle.plate }}</div>
            <div class="col-lg-6">{{ this.getLocalDate(access.createdAt) }}</div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card accent="success">
      <nb-card-header>Chart here..</nb-card-header>
    </nb-card>
  </div>
  <div class="col-lg-3">
    <nb-card accent="info">
      <nb-card-header>Vehicles <button class="float-right" size="" nbButton><nb-icon icon="plus-outline"></nb-icon></button></nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let vehicle of client.vehicle">
          {{ vehicle.plate }}
          <nb-icon class="float-right" icon="trash-2-outline"></nb-icon>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
