<mat-card style="margin: 20px;">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda...">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="plate">
      <th mat-header-cell *matHeaderCellDef> Matrícula </th>
      <td mat-cell *matCellDef="let element"> {{element.plate}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="accessLog">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Accesos </th>
      <td mat-cell *matCellDef="let element"> {{element.accessLog}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive ? 'Sí' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="Acciones"
          (click)=select.open()>

          <mat-icon>more_vert</mat-icon>

          <mat-select
            #select
            class="actionMenu">
            <mat-option (click)="this.router.navigateByUrl('/plates/' + element.id)" value="0">Editar</mat-option>
            <mat-option (click)="this.deleteDialog(element.id, element.plate)" value="1">Borrar</mat-option>
          </mat-select>

        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
