table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .actionMenu div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .actionMenu.mat-select {
  display: inline;
}
