<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header><span>Add a vehicle to the client</span>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="this.form" (ngSubmit)="onFormSubmit()">

          <div class="form-group row">
            <label for="plate" class="col-sm-2 col-form-label">Plate</label>
            <div class="col-sm-10">
              <input nbInput fullWidth
                     [status]="this.form.get('plate').errors && this.form.get('plate').touched ? 'danger' : ''"
                     formControlName="plate" class="form-control" id="plate" type="text" aria-describedby="plateHelp"
                     placeholder="Enter the plate"
                     oninput="this.value = this.value.toUpperCase().replace(' ', '')">
              <small [hidden]="!(this.form.get('plate').errors && this.form.get('plate').touched)" class="text-danger">Please enter a valid vehicle plate.</small>
              <small id="plateHelp" class="form-text text-muted">The plate of the vehicle. The vehicle can only be owned once. If another client is claiming that the vehicle is theirs, you should ask for the documentation of the vehicle to check it and remove it from the previous client.</small>
            </div>
          </div>

          <button type="submit" fullWidth nbButton [disabled]="!(this.form.valid && this.form.dirty)">Save</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
